<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Standard-Upload-Suite" >
    <test name="UserTesting" >
        <classes>
            <class name="demo.UploadStandard" />
            <methods>
<!--                <include name="WrongEmail"/>-->
<!--                <include name="WrongPassword"/>-->
<!--                <include name="SuccessLogin"/ >-->
            </methods>
        </classes>
    </test>
</suite>
